<h1>title</h1>
<nav class="navbar align-content-evenly d-flex">
  <a class="navbar-brand" routerLink="/">Accueil </a>
  <a class="navbar-brand" routerLink="/presences"> Liste</a>
</nav>

<router-outlet></router-outlet>

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Liste</h2>
      <ul class="list-group">
        <app-mon-premier-composant *ngFor="let element of presenceTab" [persoName]="element.name" [persoStatus]="element.status"></app-mon-premier-composant>
      </ul>
      <input type="checkbox" [checked]="isAuth" (click)="onClique()">Utilisateur connecté
    </div>
  </div>
</div> -->
