{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<nav><!-- Contenu de la avbar --></nav>

<h1>Mon super titre</h1>

<p>Un paragraphe contenant pleins de mots a lire</p>

<footer><!-- Contenu de mon footer --></footer>

{#  #}

{% endblock %}
