<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Liste</h2>
      <ul class="list-group">
        <app-mon-premier-component persoName="Aurelie" [persoStatus] ="'Présent'"></app-mon-premier-component>
        <app-mon-premier-component persoName="Thibault" [persoStatus] ="'Absent'"></app-mon-premier-component>
        <app-mon-premier-component persoName="Gaelle" [persoStatus] ="'Absent'"></app-mon-premier-component>
      </ul>
      <input type="checkbox" [checked]="isAuth" (click)="onClique()"> Utilisateur connecté
    </div>
  </div>
</div>
